{% load static %}
<html>
    
    <head>
        <title>To do list</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <h1 class="navbar-brand">To-do list</h1>
          
            <div class="collapse navbar-collapse" id="navbarNav">
              
              {% if user.is_authenticated %}
              <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'create_note' %}">Créer une note</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" href="#">Bouton 3</a>
                    </li>
              </ul>
              
              
              <a class="btn btn-danger my-2 my-sm-0" href="{% url 'logout' %}">Déconnexion</a>
              {% endif %}
            </div>
        </nav>
        
        
        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>